<div class="spinner-overlay">
    <div class="parent">
        <div class="div1">
            <div class="cyber-spinner">
                <div class="spinner-ring">
                    <div class="ring-segment"></div>
                    <div class="ring-segment"></div>
                    <div class="ring-segment"></div>
                    <div class="ring-segment"></div>
                </div>
                <div class="spinner-core">
                    <div class="core-pulse"></div>
                    <div class="core-text">TOJO</div>
                </div>
                <div class="data-streams">
                    <div class="stream stream-1"></div>
                    <div class="stream stream-2"></div>
                    <div class="stream stream-3"></div>
                    <div class="stream stream-4"></div>
                </div>
            </div>
        </div>
    </div>
</div>
